@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Kanit", sans-serif;
    font-style: normal;
    font-weight: 500;
}
body {
    position: relative;
    overflow-x: hidden;
}
.accueil-header {
    width: 100vw;
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    position: fixed;
}
.accueil-title {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #ff6961;
    font-size: larger;
    margin-left: 8px;
    text-decoration: none;
}
.accueil-menu-deroulant {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accueil-nav li {
    float: left;
    list-style: none;
}
.accueil-nav li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #ff6961;
}
.accueil-nav li a:hover {
    background-color: #ddd;
}
.accueil-menu-deroulant li ul {
    position: absolute;
    display: none;
    background-color: #f1f1f1;
    z-index: 100;
}
.accueil-menu-deroulant li ul li {
    float: none;
    width: 100%;
}
.accueil-menu-deroulant a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ff6961
}
.accueil-menu-deroulant li:hover ul {
    display: block;
}
.bouton {
    padding: 10px;
    background-color: #fff;
    border-style: solid;
    border-color: #ff6961;
    border-width: 1px;
    margin-right: 30px;
    cursor: pointer;
    color: #ff6961;
    text-decoration: none;
}
.bouton:hover {
    background-color: #ff6961;
    color: white;
}
.section-accueil {
    width: 100vw;
    height: 100vh;
    background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/8d/fc/de/khorovac-khozi.jpg?w=1400&h=-1&s=1");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bouton-section-accueil {
    margin-right: 0;
}
.accueil-slogan {
    font-size: 30px;
    color: white;
}
.section-contact {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact, .map {
    width: 40%;
    height: 300px;
}
.contact {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
footer {
    width: 100vw;
    background-color: #ff6961;
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
}
.columns-container {
    padding: 20px;
    display: flex;
}
.marque {
    font-weight: 700;
    margin-bottom: 30px;
}
.column-newsletter {
    margin-left: 15px;
}
a.bouton-reservation {
    color: white;
    text-decoration: none;
}
.bouton-newsletter-container, .bouton-reservation-container {
    margin-top: 25px;
}